<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Movie</title>
<style>
	table {
		border: 1px solid black;
		width: 100%;
	}
	
	th, td {
		border: 1px solid black;
	}
</style>
</head>
<body id="user-group-page">
	
	<a th:href="@{/web/movie-review/create}" >Add Review</a>
	
	<div>
		<span>Movie Name::</span>
		<span th:text=${movie.name}></span>
	</div>
	<div>
		<span>Movie Synopsis::</span>
		<span th:text=${movie.synopsis}></span>
	</div>
	<div>
		<span>Movie Budget::</span>
		<span th:text=${movie.budget}></span>
	</div>
	
	<div>
		<span>Movie Aggregate Rating::</span>
		<span th:text=${movie.aggregatedRating}></span>
	</div>

	<div class="table-responsive">
		<table style="border:1px solid black;">
			<thead>
				<tr class="tm-bg-gray">
					<th scope="col">Review</th>
					<th scope="col">Rating</th>
					<th scope="col">Reviewer</th>
					<th scope="col">Reviewed On:</th>
					<th scope="col">User</th>
					<th scope="col">&nbsp;</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr class="clickable" style="cursor: pointer"
					th:each="review : ${reviews}"
					th:href="@{'/web/movie-review/'+${review.id}/update }">
					<td class="text-center" th:text="${review.review}" />
					<td class="text-center" th:text="${review.rating}" />
					<td class="text-center" th:text="${review.reviewer}" />
					<td class="text-center" th:text="${movie.createDate}" />
					<td class="text-center" th:text="Edit" />
					<td class="text-center" th:text="Delete" />
				</tr>
				<tr th:if="${reviews == null || reviews.size == 0}">
					<td class="text-center" colspan="7">No Results to display</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>