<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
</head>
<body>
	<h1 th:text="#{hello.message}"></h1>
	
<!-- 	<h1> Hola Mundo</h1> -->
	
	<button type="button" th:text="#{submit.key}"></button>
	
	<hr>
	
	
	<label>Change Language</label> <br/>
	
	<button type="button" th:text="#{english.key}" onclick="window.location.href='http://localhost:8090/hello?lang=en'"></button>
	<button type="button" th:text="#{spanish.key}" onclick="window.location.href='http://localhost:8090/hello?lang=es'"></button>
	<button type="button" th:text="#{nepali.key}" onclick="window.location.href='http://localhost:8090/hello?lang=np'"></button>

</body>

</html>